<ion-header>
  <ion-title>Connexion</ion-title>
</ion-header>
<ion-card>
  <form #connexionForm="ngForm" (ngSubmit)="connexion(connexionForm)">
    <ion-item>
      <ion-input required type="mail" placeholder="Adresse mail" name="mailUser" [(ngModel)]="connexionForm.mailUser"
        #mailUser="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Mot de passe" name="password" [(ngModel)]="connexionForm.password"
        #password="ngModel"></ion-input>
    </ion-item>
    <div text-center>
      <ion-button ion-button round text-center type="submit" *ngIf="!password.errors?.required && !mailUser.errors?.required">Connexion</ion-button>
    </div>
    <div (click)="passwordForgottenDisplay()"><p>Mot de passe oublié ?</p></div>
  </form>
</ion-card>

<div *ngIf="isPasswordForgotten">
  <ion-label>Adresse mail</ion-label>
  <ion-input type="mail" name="emailForgotten" [(ngModel)]="resetPasswordMail"></ion-input>
  <ion-button type="submit" (click)="resetMail()">Envoyer mail reset</ion-button>
</div>