<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil - Land of the foodie
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="no-scroll">
  <h1 text-center>{{ currentDate | date : 'longDate'}}</h1>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="DD MMMM YYYY" (ionChange)="changeDate()" [(ngModel)]="currentDate"></ion-datetime>
  </ion-item>
  <h2 *ngIf="menus.length === 0" text-center>
    Aucun menu de disponible pour cette date :(
  </h2>
    <ion-slides scrollbar="true" [options]="slideOpts">
      <ion-slide *ngFor="let menu of menus">
        <ion-card>
          <ion-header>
          <ion-card-title style="margin-bottom: 10px;" text-center>
            <ion-icon (click)="previousMenu()" name="return-left" style="position: relative;top: 4px"></ion-icon>
            {{ menu.name }}
            <ion-icon (click)="nextMenu()" name="return-right" style="position: relative;top: 4px"></ion-icon>
            </ion-card-title>
            <ion-img *ngIf="menu.imgUrl" src="{{menu.imgUrl}}" style="height: 300px; width: 300px;"
            [routerLink]="['/detail-menu', menu.id, menu.entree, menu.plat, menu.dessert, menu.boisson]"
          routerDirection="forward"></ion-img>
          </ion-header>
        <ion-card-content>

        </ion-card-content>
          <div text-center>
            <ion-button (click)="addMenuToPanier(menu)">Ajouter au panier</ion-button>
          </div>
          <div text-center *ngIf="user.isAdmin">
            <ion-button color="danger" outline (click)="deleteMenu(menu.id)">supprimer</ion-button>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user.isAdmin">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button routerDirection="forward" [routerLink]="['/add-nourriture']">
        <ion-icon name="pizza"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerDirection="forward" [routerLink]="['/add-menu']">
        <ion-icon name="grid"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>